* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:beige;
}

form {
    width:400px;
    margin:30px auto;
}

label{
    display:block;
    margin-bottom:5px;
}
fieldset {
    padding:8px;
    border: 1px solid red;
}

.error{
    display:block;
    color:red;
    text-align: center;
    font-size: 1.4em;
}
form ul{
    margin-left: 10px;
    margin-bottom: 10px;
    list-style: none;
}
input{
    margin-bottom: 10px;
}
input[type=radio]{
    margin-right: 5px;
}
select{
    display:block;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}

.btn{
    width: 80px;
    height: 30px;
    background: #4E9CAF;
    padding: 2px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.button {
    display: block;
    width: 80px;
    height: 30px;
    background: #4E9CAF;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

iframe {
    padding: 20px;
}

.box{
    width:400px;
    margin:0 auto;    
    border: 2px solid green;
    padding:8px;   
}

.boxGrey{
    width:400px;
    margin:0 auto;    
    border: 2px solid green;
    padding:8px;
    background-color: rgb(168, 156, 156);
}
.boxBlue{
    width:400px;
    margin:0 auto;    
    border: 2px solid green;
    padding:8px;
    background-color: rgb(10, 139, 245);
}
.boxYellow{
    width:400px;
    margin:0 auto;    
    border: 2px solid green;
    padding:8px;
    background-color: rgb(248, 241, 144);
}

footer p{
    margin:0 auto;
    clear: both;
    text-align: center;
    padding: 1em;
}
